@import "../../shared";

.Element {
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    height:inherit;
    transition:left $effect-slide-duration $effect-slide;

    .Board__slide--first & {
        left:50%;
        transform:translateX(-50%);
    }

    html.no-hiddenscroll & {
        transition:left $effect-scroll-duration $effect-scroll;
    }

    img {
        height:104%;
        margin-top:-2%;
    }

    &--zm2 {
        z-index:8;
    }

    &--zm1 {
        z-index:9;
    }

    &--zp1 {
        z-index:11;
    }

    &--zp2 {
        z-index:12;
    }

}
