@import "../../shared";

.Progressbar {
    position:fixed;
    z-index:10;
    width:100%;
    height:6px;
    bottom:0;
    left:0;
    background:$color-black;

    &__value {
        width:0%;
        height:inherit;
        background:$color-explore;
        transition:width $effect-slide-duration $effect-slide;
    }
}
